<!-- Reset password form, nested in a modal: -->
<div class="modal-header">
	<h3 class="modal-title">Reset password</h3>
</div>
<div class="modal-body">
	<form name="resetPasswordForm" class="form-horizontal" novalidate>		
		<h5><i>Enter your email, a password reset link will be sent to you:</i></h5><br>
		<!-- Email -->
		<div class="row">
			<div class="form-group col-sm-12" ng-class="{'has-success': resetPasswordForm.email.$dirty &&
					resetPasswordForm.email.$valid, 'has-error': resetPasswordForm.email.$dirty && 
					restPasswordForm.email.$invalid}">
				<label for="email" class="col-sm-3 control-label">Email Address</label>
				<div class="col-sm-9">
					<input type="email" name="email" ng-model="user.email" class="form-control" 
						placeholder="Email" required ng-maxlength="64" title="Email">
				</div>
				<div class="col-sm-offset-3 col-sm-9 col-xs-12">
					<div ng-show="resetPasswordForm.email.$dirty" class="error">
						<span ng-show="resetPasswordForm.email.$error.required">Email is required.</span>
						<span ng-show="!resetPasswordForm.email.$error.required &&
									   !resetPasswordForm.email.$error.maxlength &&
									   resetPasswordForm.email.$invalid">Email is invalid.</span>
						<span ng-show="resetPasswordForm.email.$error.maxlength">Max length is 64 characters.</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="resetPasswordForm.$invalid">Submit</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>