<!-- New teacher registration form, nested in a modal: -->
<div class="modal-header">
	<h3 class="modal-title">Create a new teacher's account</h3>
</div>
<div class="modal-body">
	<form name="registerForm" class="form-horizontal" novalidate>
	
		<!-- Name -->
		<div class="row">
			<div class="form-group col-sm-12" ng-class="{'has-success has-feedback': registerForm.name.$dirty &&
					registerForm.name.$valid, 'has-error': registerForm.name.$dirty && 
					registerForm.name.$invalid}">
				<label for="name" class="col-sm-4 control-label">Name</label>
				<div class="col-sm-8">
					<input type="text" name="name" ng-model="teacher.name" class="form-control"
						placeholder="Name" required ng-maxlength="50" title="Name">
				</div>
				<div class="col-sm-offset-4 col-sm-8 col-xs-12">
					<div ng-show="registerForm.name.$dirty" class="error">
						<span ng-show="registerForm.name.$error.required">Name is required.</span> 
						<span ng-show="registerForm.name.$error.maxlength">Max length is 50 characters.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Email -->
		<div class="row">
			<div class="form-group col-sm-12" ng-class="{'has-success': registerForm.email.$dirty &&
					registerForm.email.$valid, 'has-error': registerForm.email.$dirty && 
					registerForm.email.$invalid}">
				<label for="email" class="col-sm-4 control-label">Email Address</label>
				<div class="col-sm-8">
					<input type="email" name="email" ng-model="teacher.user.email" class="form-control" 
						placeholder="Email" required ng-maxlength="64" title="Email"  
						ng-model-options="{ updateOn: 'blur' }" existing-email>
				</div>
				<div class="col-sm-offset-4 col-sm-8 col-xs-12">
					<div ng-show="registerForm.email.$dirty" class="error">
						<span ng-show="registerForm.email.$error.required">Email is required.</span>
						<span ng-show="!registerForm.email.$error.required &&
									   !registerForm.email.$error.maxlength &&
									   !registerForm.email.$error.existingEmail && 
									   registerForm.email.$invalid">Email is invalid.</span>
						<span ng-show="registerForm.email.$error.maxlength">Max length is 64 characters.</span>
						<!-- Asynchronous validation: -->
						<span ng-show="registerForm.email.$pending.existingEmail">Checking if this email is available...</span>
    					<span ng-show="registerForm.email.$error.existingEmail">This email is already registered.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Password -->
		<div class="row">
			<div class="form-group col-sm-12" ng-class="{'has-success': registerForm.password.$dirty &&
					registerForm.password.$valid, 'has-error': registerForm.password.$dirty && 
					registerForm.password.$invalid}">
				<label for="password" class="col-sm-4 control-label">Password</label>
				<div class="col-sm-8">
					<input type="password" name="password" ng-model="teacher.user.password"
						class="form-control" placeholder="6 - 20 characters" ng-minlength="6" ng-maxlength="20"
						required title="Password" valid-password>
				</div>
				<div class="col-sm-offset-4 col-sm-8 col-xs-12">
					<div ng-show="registerForm.password.$dirty" class="error">
						<span ng-show="registerForm.password.$error.required">Password is required.</span>
						<span ng-show="registerForm.password.$error.minlength">Min length is 6 characters.</span>
						<span ng-show="registerForm.password.$error.maxlength">Max length is 20 characters.</span>
						<!-- Custom synchronous validation -->
						<span ng-show="!registerForm.password.$error.required &&
									   !registerForm.password.$error.minlength &&
									   !registerForm.password.$error.maxlength &&
									   registerForm.password.$error.validPassword">Password must contain 
							an upper case and a lower case letter, a number, and a special character.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Confirm password -->
		<div class="row">
			<div class="form-group col-sm-12" ng-class="{'has-success': registerForm.confirmPassword.$dirty &&
					registerForm.confirmPassword.$valid, 'has-error': registerForm.confirmPassword.$dirty && 
					registerForm.confirmPassword.$invalid}">
				<label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
				<div class="col-sm-8">
					<input type="password" name="confirmPassword" class="form-control"
						ng-model="teacher.user.confirmPassword" placeholder="Confirm password" ng-minlength="6"
						ng-maxlength="20" required title="Confirm password" confirm-password="teacher.user.password">
				</div>
				<div class="col-sm-offset-4 col-sm-8 col-xs-12">
					<div ng-show="registerForm.password.$dirty && registerForm.confirmPassword.$dirty" class="error">
						<span ng-show="registerForm.confirmPassword.$error.match">Passwords don't match!</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="registerForm.$invalid">Create</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>