<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Password reset request</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3 th:text="'Hello ' + ${name} + '!'"></h3>
	<p>You have requested password reset for your Music Lessons
		Schedule account. To change your password, follow the link below
		within the next 24 hours:</p>
	<a th:href="@{'http://localhost:8080/#/change-password/' + ${token}}">Change password</a>
	<!-- <a th:href="@{'https://schedule.cfapps.io/#/change-password/' + ${token}}">Change password</a> -->
	<p>Your old password is still valid. If you find it, you can
		continue using the web site, and ignore this email.</p>
	<p>
		<i>
			Webmaster
			<br></br>
			MusicLessonsSchedule
		</i>
	</p>
</body>
</html>








