.left
{
    float: left;
}

.label
{
    width: 150px;
    float: left;
}

.select
{
    width: 130px;
}

.clear
{
    clear: both;
}

.container
{
    border: 1px solid black;
    width: 600px;
    background-color: lightsalmon;
}

a
{
    background: silver;
    height: 25px;
    margin: 5px;
    padding: 5px, 0px, 5px, 0px;
}