.left
{
    float: left;
}

.yellow
{
    background-color: lightyellow;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.grey_heading
{
    height: 50px;
    background-color: lightgray;
}

.lavender_heading
{
    height: 50px;
    background-color: lavender;
}

table
{
    border: 1px solid black;
}

th, td
{
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
}

.taken102
{
    height: 102px;
    background-color: red;
}

.taken154
{
    height: 154px;
    background-color: red;
}

.taken206
{
    height: 206px;
    background-color: red;
}

.taken310
{
    height: 310px;
    background-color: red;
}

a
{
    background: silver;
    height: 25px;
    margin: 5px;
    padding: 5px, 0px, 5px, 0px;
}

#container
{
    width:1315px;
}