.heading
{
    background-color: aqua;
}

.grey
{
    background-color: lightgray;
}

.white
{
    background-color: white;
}

table
{
    border: 1px solid black;
    width: 760px;
}

th, td
{
    border: 1px solid black;
    width:150px;
    height:25px;
    text-align: left;
    vertical-align: middle;
}

a
{
    background: silver;
    height: 25px;
    margin: 5px;
    padding: 5px, 0px, 5px, 0px;
}