<div class="modal-header">
	<h3 class="modal-title"><i>Create a new teacher's account</i></h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" md-dialog-close>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
	
<div class="modal-body">
	<form name="registerForm" class="form-horizontal" novalidate>
		<!-- Name -->
		<div class="form-group" ng-class="{'has-success has-feedback': registerForm.name.$dirty &&
					registerForm.name.$valid, 'has-error': registerForm.name.$dirty && 
					registerForm.name.$invalid}">
			<label for="name" class="col-sm-4 control-label">Name</label>
			<div class="col-sm-8">
				<input type="text" id="name" name="name" ng-model="$ctrl.teacher.name" class="form-control"
		               placeholder="Name" required ng-maxlength="64">
			</div>
			<div class="col-sm-offset-4 col-sm-8">
				<div ng-show="registerForm.name.$dirty">
					<span ng-show="registerForm.name.$error.required">Name is required.</span> 
					<span ng-show="registerForm.name.$error.maxlength">Max length is 64 characters.</span>
				</div>
			</div>
		</div>
		<!-- Email -->
		<div class="form-group" ng-class="{'has-success': registerForm.email.$dirty &&
                   registerForm.email.$valid, 'has-error': registerForm.email.$dirty && 
				   registerForm.email.$invalid}">
			<label for="email" class="col-sm-4 control-label">Email</label>
			<div class="col-sm-8">
				<input type="email" name="email" id="email" ng-model="$ctrl.teacher.user.email"
					   class="form-control" placeholder="Email" required ng-maxlength="64"
					   ng-model-options="{ updateOn: 'blur' }" existing-email>
			</div>
			<div class="col-sm-offset-4 col-sm-8">
				<div ng-show="registerForm.email.$dirty">
					<span ng-show="registerForm.email.$error.required">Email is required.</span>
					<span ng-show="!registerForm.email.$error.required &&
								   !registerForm.email.$error.maxlength &&
								   !registerForm.email.$error.existingEmail && 
								   registerForm.email.$invalid">Email is invalid.</span>
					<span ng-show="registerForm.email.$error.maxlength">Max length is 64 characters.</span>
					<!-- Custom asynchronous validation: -->
					<span ng-show="registerForm.email.$pending.existingEmail">Checking if this email is available...</span>
    				<span ng-show="registerForm.email.$error.existingEmail">This email is already registered.</span>
				</div>
			</div>
		</div>
		<!-- Password -->
		<div class="form-group" ng-class="{'has-success': registerForm.password.$dirty &&
				   registerForm.password.$valid, 'has-error': registerForm.password.$dirty && 
				   registerForm.password.$invalid}">
			<label for="password" class="col-sm-4 control-label">Password</label>
			<div class="col-sm-8">
				<input type="password" name="password" ng-model="$ctrl.teacher.user.password"
					   class="form-control" placeholder="6 - 50 characters" ng-minlength="6" 
					   ng-maxlength="50" required valid-password>
			</div>
			<div class="col-sm-offset-4 col-sm-8">
				<div ng-show="registerForm.password.$dirty">
					<span ng-show="registerForm.password.$error.required">Password is required.</span>
					<span ng-show="registerForm.password.$error.minlength">Min length is 6 characters.</span>
					<span ng-show="registerForm.password.$error.maxlength">Max length is 50 characters.</span>
					<!-- Custom synchronous validation -->
					<span ng-show="!registerForm.password.$error.required &&
								   !registerForm.password.$error.minlength &&
								   !registerForm.password.$error.maxlength &&
								   registerForm.password.$error.validPassword">
						Password must contain an upper case and a lower case letter, a number, 
						and a special character.
					</span>
				</div>
			</div>
		</div>
		<!-- Confirm password -->
		<div class="form-group" ng-class="{'has-success': registerForm.confirmPassword.$dirty &&
				    registerForm.confirmPassword.$valid, 'has-error': registerForm.confirmPassword.$dirty && 
				    registerForm.confirmPassword.$invalid}">
			<label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
			<div class="col-sm-8">
				<input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
					ng-model="$ctrl.teacher.user.confirmPassword" placeholder="Confirm password" ng-minlength="6"
					ng-maxlength="50" required confirm-password="$ctrl.teacher.user.password">
			</div>
			<div class="col-sm-offset-4 col-sm-8">
				<div ng-show="registerForm.password.$dirty && registerForm.confirmPassword.$dirty">
					<span ng-show="registerForm.confirmPassword.$error.match">Passwords don't match!</span>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="$ctrl.ok()" ng-disabled="registerForm.$invalid">Create</button>
	<button type="button" class="btn btn-warning" md-dialog-close>Cancel</button>
</div>
	




















