<!-- Header -->
<div class="panel panel-default header">
	<h1 class="text-center">Music Lessons Schedule</h1>
</div>

<!-- Body content -->
<div class="row">

	<!-- Left panel -->
	<div class="col-md-8">
		<h2>
			<i>Login:</i>
		</h2>
		<form name="loginForm" ng-submit="ctrl.login()" class="form-horizontal" novalidate>
			<!-- Email -->
			<div class="form-group" ng-class="{'has-success': loginForm.email.$dirty &&
					loginForm.email.$valid, 'has-error': loginForm.email.$dirty &&
					loginForm.email.$invalid}">
				<label for="email" class="col-sm-2 control-label">Email:</label>
				<div class="col-sm-10">
					<input type="email" id="email" name="email" ng-model="ctrl.user.email" 
						class="form-control" placeholder="Email" required />
				</div>
			</div>
			<!-- Password -->
			<div class="form-group" ng-class="{'has-success': loginForm.password.$dirty &&
					loginForm.password.$valid, 'has-error': loginForm.password.$dirty && 
					loginForm.password.$invalid}">
				<label for="password" class="col-sm-2 control-label">Password:</label>
				<div class="col-sm-10">
					<input type="password" id="password" name="password" ng-model="ctrl.user.password" 
						class="form-control" placeholder="Password" ng-minlength="6" ng-maxlength="50" 
						required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">
						Login
					</button>
				</div>
			</div>
			<!-- Messages -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="alert alert-danger" ng-show="ctrl.error">
						Access denied.
					</div>
					<div class="alert alert-danger" ng-show="ctrl.message.invalidToken">
						Invalid token.
					</div>
					<div class="alert alert-success" ng-show="ctrl.message.loggedOut">
						You have logged out successfully.
					</div>
					<div class="alert alert-success" ng-show="ctrl.message.activated">
						Your account was activated successfully.
					</div>
					<div class="alert alert-info" ng-show="ctrl.activate">
						Check your email for activation instructions.
					</div>
					<div class="alert alert-info" ng-show="ctrl.changePwd">
						Check your email for password change instructions.
					</div>
					<div class="alert alert-danger" ng-show="ctrl.emailNotReg">
						This email is not registered.
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- Right panel -->
	<div class="col-md-4">
		<div class="panel panel-default right-panel">
			<p>Login with:</p>
			<div class="btn-group">
  				<a class="btn btn-primary" href="/login/facebook">
    				<i class="fa fa-facebook-official fa-lg" title="Facebook" aria-hidden="true"></i>
  				</a>
  				<a class="btn btn-primary" href="/login/linkedin">
    				<i class="fa fa-linkedin-square fa-lg" title="LinkedIn" aria-hidden="true"></i>
  				</a>
  			</div>
			<br>
			<a href="" ng-click="ctrl.register()" class="btn">
				Register
			</a>
			<br>
			<a href="" ng-click="ctrl.resetPwd()" class="btn">
				Reset password
			</a>
			<br>
			<a href="mailto:mstoyanovca@gmail.com?subject=Request from https://schedule.cfapps.io" class="btn">
				Contact administrator
			</a>
		</div>
	</div>

</div>

<!-- Footer -->
<div class="panel panel-default footer">
	<span>
		<i>
			Writen by
			<a href="https://www.linkedin.com/in/martin-stoyanov-72845449">
				Martin Stoyanov
			</a>
		</i>
	</span>
</div>











