.container-fluid {
	padding: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

header {
	width: 100%;
	padding: 15px;
	background-image: url("../images/aside.jpg");
	border: 1px solid gray;
}

h4 {
	margin: 0px;
}

nav {
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid gray;
}

#change-password {
	width: 36px;
	height: 36px;
	margin: 5px 0px 5px 15px;
	background-repeat: no-repeat;
	background-image: url("../images/update.png");
	opacity: 0.8;
	border-radius: 5px;
}

#change-password:hover {
	opacity: 1;
	transition: all 0.3s ease 0s;
}

.form-horizontal {
	margin: 0px 15px;
}

.error {
	color: red;
}
