/* phone */
@media screen and (max-width: 768px) {
	.container-fluid {
		padding: 0;
	}
	.header {
		height: 75px;
		margin: 0;
		padding-left: 15px;
		background: url("../images/piano09.jpg");
		background-size: auto 100%;
		background-repeat: x;
	}
	h1 {
		margin: 0;
		color: white;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.body-content {
		height: 500px;
		min-width: 360px;
		margin: 0;
	}
	.left {
		height: 355px;
		padding: 15px;
	}
	h2 {
		margin: 0px 0px 15px 0px;
	}
	.right {
		width: calc(100% - 10px);
		height: 135px;
		padding: 15px;
		background-image: url("../images/aside.jpg");
		border: 1px solid gray;
		border-radius: 10px;
		box-shadow: 10px 10px 20px gray;
	}
	.error {
		color: #ff0000;
	}
	.footer {
		height: 75px;
		margin: 0;
		padding-left: 15px;
		background: url("../images/notes40.png");
		background-size: auto 100%;
		background-repeat: x;
	}
	p.autor {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 991px) {
	.container-fluid {
		padding: 0;
	}
	.header {
		height: 75px;
		margin: 0;
		padding-left: 15px;
		background: url("../images/piano09.jpg");
		background-size: auto 100%;
		background-repeat: x;
	}
	h1 {
		margin: 0;
		color: white;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.body-content {
		height: 450px;
		min-width: 360px;
		margin: 0;
	}
	.left {
		height: 305px;
		padding: 15px;
	}
	h2 {
		margin: 0px 0px 15px 0px;
	}
	.right {
		width: calc(100% - 10px);
		height: 135px;
		padding: 15px;
		background-image: url("../images/aside.jpg");
		border: 1px solid gray;
		border-radius: 10px;
		box-shadow: 10px 10px 20px gray;
	}
	.error {
		color: #ff0000;
	}
	.footer {
		height: 75px;
		margin: 0;
		padding-left: 15px;
		background: url("../images/notes40.png");
		background-size: auto 100%;
		background-repeat: x;
	}
	p.autor {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

/* PC */
@media screen and (min-width: 992px) {
	html, body {
		height: 100%;
	}
	.container-fluid {
		height: 100%;
		padding: 0;
	}
	.header {
		height: 15%;
		min-height: 75px;
		margin: 0;
		padding-left: 15px;
		background: url("../images/piano09.jpg");
		background-size: auto 100%;
		background-repeat: x;
	}
	h1 {
		margin: 0;
		color: white;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.body-content {
		height: 70%;
		min-height: 305px;
		margin: 0;
	}
	.left {
		height: 100%;
		padding: 15px;
	}
	h2 {
		margin: 0px 0px 15px 0px;
	}
	.right {
		width: calc(33.3% - 10px);
		height: calc(100% - 10px);
		padding: 15px;
		background-image: url("../images/aside.jpg");
		border: 1px solid gray;
		border-radius: 10px;
		box-shadow: 10px 10px 20px gray;
	}
	.error {
		color: #ff0000;
	}
	.footer {
		height: 15%;
		min-height: 75px;
		margin: 0;
		padding-left: 15px;
		background: url("../images/notes40.png");
		background-size: auto 100%;
		background-repeat: x;
	}
	p.autor {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}