.container-fluid {
	padding: 0px;
}

header {
	width: 100%;
	padding: 15px;
	background-image: url("../images/aside.jpg");
	border: 1px solid gray;
}

h4 {
	margin: 0px;
}

nav {
	width: 100%;
	margin-bottom: 5px;
	border: 1px solid gray;
}

#add {
	width: 36px;
	height: 36px;
	margin: 5px 5px 5px 15px;
	background-repeat: no-repeat;
	background-image: url('../images/add-lesson.png');
	opacity: 0.8;
	border-radius: 5px;
}

#students {
	width: 36px;
	height: 36px;
	margin: 5px 0px 5px 0px;
	background-repeat: no-repeat;
	background-image: url('../images/students.png');
	opacity: 0.8;
	border-radius: 5px;
}

#add:hover, #students:hover {
	opacity: 1;
	transition: all 0.3s ease 0s;
}

select.settings {
	width: 36px;
	height: 36px;
	margin: 5px 15px 5px 0px;
	background-repeat: no-repeat;
	float: right;
	background-image: url('../images/settings.png');
	opacity: 0.8;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

select.settings:hover {
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s ease 0s;
}

/* removes the select arrow in IE */
select.settings::-ms-expand {
	display: none;
}

.tabset {
	margin: 2px 0 0 2px;
}

.tab {
	display: inline-block;
	background-color: #e6e6ff;
	border: 1px solid gray;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	padding-left: 2px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.error {
	color: red;
}